<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Issue Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./public/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fas fa-paw pawLeft"></i>
        <i class="fas fa-paw pawRight"></i>
        <i class="fas fa-paw pawLeft"></i>
        Issue Tracker
      </a>
      <button id="login" class="btn btn-outline-light">Log In</button>
    </div>
  </nav>
  <div class="container" id="filters">
    <div class="row">
      <div class="filter col-md-auto col-lg-2">
        <label for="selectProject" class="text-light">Project</label>
        <select id="selectProject" class="form-select form-select-sm" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="filter col-md-auto col-lg-2">
        <label for="filterCreatedBy" class="text-light">Created By</label>
        <select name="filterCreatedBy" id="filterCreatedBy" class="form-select form-select-sm" aria-label="Default select example">
          Text in select
        </select>
      </div>
      <div class="filter col-md-auto col-lg-2">
        <label for="filterAssignedTo" class="text-light">Assigned To</label>
        <select name="filterAssignedTo" id="filterAssignedTo" class="form-select form-select-sm" aria-label="">
        </select>
      </div>
      <div class="filter col-md-auto col-lg-2">
        <label for="sortDateCreated" class="text-light">Sort</label>
        <select name="sortDateCreated" id="sortDateCreated" class="form-select form-select-sm" aria-label="">
          <option value="by date" selected disabled>By Date</option>
          <option value="createdOldest">Created Oldest</option>
          <option value="createdNewest">Created Newest</option>
          <option value="updatedOldest">Updated Oldest</option>
          <option value="updayedNewest">Updated Newest</option>
        </select>
      </div>
      <div class="filter col-md-auto col-lg-2">
        <label for="filterStatus" class="text-light">Status</label>
        <select name="filterStatus" id="filterStatus" class="form-select form-select-sm" aria-label="">
          <option value="All" selected>All</option>
          <option value="Open">Open</option>
          <option value="Closed">Closed</option>
        </select>
      </div>
    </div>
  </div>
  <div id="projectsListContainer">
    <h2 id="projectsTitle">Projects <i class="fas fa-chevron-down projectsArrow"></i></h2>
    <ul id="projectsList"></ul>
  </div>
  <div id="projectsIssuesContainer">
    <h2 id="issuesTitle">Issues Bootstrap</h2>
    <div id="sortContainer">
      <form id=filterForm>
        <!-- <div class="filter">
          <label for="filterCreatedBy">Created By</label>
          <div class="selectContainer">
            <select name="filterCreatedBy" id="filterCreatedBy" class="issueFilter">
              Text in select
            </select>
            <i class="fas fa-chevron-down selectArrow"></i>
          </div>
        </div> -->
        <!-- <div class="filter">
          <label for="filterAssignedTo">Assigned To</label>
          <div class="selectContainer">
            <select name="filterAssignedTo" id="filterAssignedTo" class="issueFilter">
            </select>
            <i class="fas fa-chevron-down selectArrow"></i>
          </div>
        </div> -->
        <!-- <div class="filter">
          <label for="sortDateCreated">Date</label>
          <div class="selectContainer">
            <select name="sortDateCreated" id="sortDateCreated">
              <option value="by date" selected disabled>By Date</option>
              <option value="createdOldest">Created Oldest</option>
              <option value="createdNewest">Created Newest</option>
              <option value="updatedOldest">Updated Oldest</option>
              <option value="updayedNewest">Updated Newest</option>
            </select>
            <i class="fas fa-chevron-down selectArrow"></i>
          </div>
        </div> -->
        <!-- <div class="filter">
          <label for="filterStatus">Status</label>
          <div class="selectContainer">
            <select name="filterStatus" id="filterStatus" class="issueFilter">
              <option value="All" selected>All</option>
              <option value="Open">Open</option>
              <option value="Closed">Closed</option>
            </select>
            <i class="fas fa-chevron-down selectArrow"></i>
          </div>
        </div> -->
      </form>
      <button id="newIssue">New Issue</button>
    </div>
    <div id="issues"></div>
  </div>
  <footer>
    <a href="/resetpassword" id="changePassword">Change Password</a>
    <p>&#169; 2021 Erik Oja.  All rights reserved.</p>
  </footer>

  <!-- create a new issue modal -->
  <div id="newIssueModal">
    <div class="modalContent">
      <span class="close">&times</span>
      <div class="modalHeader">
        <h3>Create A New Issue</h3>
      </div>
      <form id="newIssueForm">
          <input type="text" name="project" placeholder="Project" required>
          <input type="text" name="issue" placeholder="Issue" required>
          <input type="text" name="createdBy" placeholder="Created By" required>
          <input type="text" name="assignedTo" placeholder="Assigned To">
          <input id="createNewIssue" type="submit" value="Create Issue">
      </form>
    </div>
  </div>

  <!-- update or delete modal -->
  <div id="modifyModal">
    <div class="modalContent">
      <span class="close">&times</span>
      <div class="modalHeader">
        <h3>Update Or Delete An Issue</h3>
      </div>
      <form id="modifyIssueForm">
        <input type="text" name="project" placeholder="Project" class="modifyInput">
        <input type="text" name="issue" placeholder="Issue" class="modifyInput">
        <input type="text" name="createdBy" placeholder="Created By" class="modifyInput">
        <input type="text" name="assignedTo" placeholder="Assigned To" class="modifyInput">
        <input type="text" name="id" placeholder="Issue Id" class="modifyInput" required disabled>
        <label for="close">Close Issue 
          <input type="checkbox" name="close" id="closeIssue">
        </label>
        <input id="modifyIssue" name="update" type="submit" value="Update Issue">
      </form>
      <form id="deleteIssueForm">
        <input type="text" hidden class="deleteInput" name="project">
        <input type="text" hidden class="deleteInput" name="id">
        <input id="deleteIssue" type="submit" name="delete" value="Delete Issue">
      </form>
    </div>
  </div>

  <!-- login modal -->
  <div id="loginModal">
    <div class="modalContent">
      <span class="close">&times</span>
      <div class="modalHeader">
        <h3>Login</h3>
      </div>
      <form id="loginForm">
          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
          <input id="login" type="submit" value="Login">
      </form>
      <a id="resetPassword" href="/resetpassword">Change Password</a>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="./public/client.js"></script>
  <script src="./public/modals.js"></script>
</body>
</html>