<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Issue Tracker</title>
  <link rel="stylesheet" href="./public/style.css">
</head>
<body>
  <nav>
    <button id="login" class="navButton">Login</button>
    <button id="createNewIssue" class="navButton">Create A New Issue</button>
    <button id="addUser" class="navButton">Add User</button>
  </nav>
 <!--  <div id="pageContainer"> -->
    <div id="projectsListContainer">
      <h2 id="projectsTitle">Projects</h2>
      <ul id="projectsList"></ul>
    </div>
    <div id="projectsIssuesContainer">
      <h2 id="issuesTitle">Issues</h2>
      <div id="sortContainer">
        <form id=filterForm>
          <label for="filterCreatedBy">Created By</label>
          <select name="filterCreatedBy" id="filterCreatedBy" class="issueFilter">
          </select>
          <label for="filterAssignedTo">Assigned To</label>
          <select name="filterAssignedTo" id="filterAssignedTo" class="issueFilter">
          </select>
          <label for="sortDateCreated">Date</label>
          <select name="sortDateCreated" id="sortDateCreated">
            <option value="by date" selected disabled>By Date</option>
            <option value="createdOldest">Created Oldest</option>
            <option value="createdNewest">Created Newest</option>
            <option value="updatedOldest">Updated Oldest</option>
            <option value="updayedNewest">Updated Newest</option>
          </select>
          <label for="filterStatus">Status</label>
          <select name="filterStatus" id="filterStatus" class="issueFilter">
            <option value="All" selected>All</option>
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
          </select>
          <!-- <button id="reset filterAndSort">Reset</button> -->
        </form>
      </div>
      <div id="issues"></div>
    </div>
 <!--  </div> -->

  <!-- create a new issue modal -->
  <div id="newIssueModal">
    <div class="modalContent">
      <span class="close">&times</span>
      <div class="modalHeader">
        <h3>Create A New Issue</h3>
      </div>
      <form id="newIssueForm">
          <input type="text" name="project" placeholder="Project" required>
          <input type="text" name="issue" placeholder="Issue" required>
          <input type="text" name="createdBy" placeholder="Created By" required>
          <input type="text" name="assignedTo" placeholder="Assigned To">
          <input id="createNewIssue" type="submit" value="Create Issue">
      </form>
    </div>
  </div>

  <!-- update or delete modal -->
  <div id="modifyModal">
    <div class="modalContent">
      <span class="close">&times</span>
      <div class="modalHeader">
        <h3>Update Or Delete An Issue</h3>
      </div>
      <form id="modifyIssueForm">
        <input type="text" name="project" placeholder="Project" class="modifyInput">
        <input type="text" name="issue" placeholder="Issue" class="modifyInput">
        <input type="text" name="createdBy" placeholder="Created By" class="modifyInput">
        <input type="text" name="assignedTo" placeholder="Assigned To" class="modifyInput">
        <input type="text" name="id" placeholder="Issue Id" class="modifyInput" required disabled>
        <label for="close">Close Issue 
          <input type="checkbox" name="close" id="closeIssue">
        </label>
        <input id="modifyIssue" name="update" type="submit" value="Update Issue">
      </form>
      <form id="deleteIssueForm">
        <input type="text" hidden class="deleteInput" name="project">
        <input type="text" hidden class="deleteInput" name="id">
        <input type="submit" name="delete" value="Delete Issue">
      </form>
    </div>
  </div>

  <!-- login modal -->
  <div id="loginModal">
    <div class="modalContent">
      <span class="close">&times</span>
      <div class="modalHeader">
        <h3>Login</h3>
      </div>
      <form id="loginForm">
          <input type="text" name="username" placeholder="Username" required>
          <input type="text" name="password" placeholder="Password" required>
          <input id="login" type="submit" value="Login">
      </form>
    </div>
  </div>

  <!-- add user modal -->
  <div id="addUserModal">
    <div class="modalContent">
      <span class="close">&times</span>
      <div class="modalHeader">
        <h3>Add A New User</h3>
      </div>
      <form id="addUserForm">
          <input type="text" name="username" placeholder="New Username" required>
          <input type="text" name="password" placeholder="New Password" required>
          <input id="addUser" type="submit" value="Add User">
      </form>
    </div>
  </div>

  <script src="./public/client.js"></script>
  <script src="./public/modals.js"></script>
</body>
</html>