<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Issue Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./public/style.css">
</head>
<body class="bg-dark">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fas fa-paw pawLeft"></i>
        <i class="fas fa-paw pawRight"></i>
        <i class="fas fa-paw pawLeft"></i>
        Issue Tracker
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtons" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarButtons">
        <button id="newIssue" class="btn btn-outline-light">New Issue</button>
        <button id="login" class="btn btn-outline-light">Log In</button>
      </div>
    </div>
  </nav>
  <form class="container" id="filterForm">
    <div class="row" id="filtersRow">
      <div class="filter col-md-auto col-lg-auto">
        <label for="filterProject" class="text-light">Project</label>
        <select id="filterProject" class="form-select form-select-sm" aria-label="Default select example"></select>
      </div>
      <div class="filter col-md-auto col-lg-auto">
        <label for="filterCreatedBy" class="text-light">Created By</label>
        <select name="filterCreatedBy" id="filterCreatedBy" class="form-select form-select-sm" aria-label="Default select example">
          Text in select
        </select>
      </div>
      <div class="filter col-md-auto col-lg-auto">
        <label for="filterAssignedTo" class="text-light">Assigned To</label>
        <select name="filterAssignedTo" id="filterAssignedTo" class="form-select form-select-sm" aria-label="">
        </select>
      </div>
      <div class="filter col-md-auto col-lg-auto">
        <label for="sortDateCreated" class="text-light">Sort</label>
        <select name="sortDateCreated" id="sortDateCreated" class="form-select form-select-sm" aria-label="">
          <option value="by date" selected disabled>By Date</option>
          <option value="createdOldest">Created Oldest</option>
          <option value="createdNewest">Created Newest</option>
          <option value="updatedOldest">Updated Oldest</option>
          <option value="updayedNewest">Updated Newest</option>
        </select>
      </div>
      <div class="filter col-md-auto col-lg-auto">
        <label for="filterStatus" class="text-light">Status</label>
        <select name="filterStatus" id="filterStatus" class="form-select form-select-sm" aria-label="">
          <option value="All" selected>All</option>
          <option value="Open">Open</option>
          <option value="Closed">Closed</option>
        </select>
      </div>
      <div class="filter col-md-auto col-lg-auto">
        <button id="filterReset" type="reset" class="btn btn-light btn-sm">Clear Filters</button>
      </div>
    </div>
  </form>

  <div id="projectsIssuesContainer" class="container">
    <div id="issues" class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4"></div>
  </div>
  <footer>
    <a href="/resetpassword" id="changePassword">Change Password</a>
    <p>&#169; 2021 Erik Oja.  All rights reserved.</p>
  </footer>

  <!-- create a new issue modal -->
  <div id="newIssueModal">
    <div class="modalContent">
      <span class="close">&times</span>
      <div class="modalHeader">
        <h3>Create A New Issue</h3>
      </div>
      <form id="newIssueForm">
          <input type="text" name="project" placeholder="Project" required>
          <input type="text" name="issue" placeholder="Issue" required>
          <input type="text" name="createdBy" placeholder="Created By" required>
          <input type="text" name="assignedTo" placeholder="Assigned To">
          <input id="createNewIssue" type="submit" value="Create Issue">
      </form>
    </div>
  </div>

  <!-- update modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <form class="modal-content" id="updateIssueForm">
        <div class="modal-header" id="updateModalHeader">
          <h5 class="modal-title" id="updateModalLabel">Update Issue</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="updateProject" class="form-label">Project</label>
            <input type="text" class="form-control" id="updateProject" required aria-required="true">
          </div>
          <div class="mb-3">
            <label for="updateIssue" class="form-label">Issue</label>
            <textarea class="form-control" id="updateIssue" rows="3" required aria-required="true"></textarea>
          </div>
          <div class="mb-3">
            <label for="updateCreatedBy" class="form-label">Created By</label>
            <input type="text" class="form-control" id="updateCreatedBy" required aria-required="true">
          </div>
          <div class="mb-3">
            <label for="updateAssignedTo" class="form-label">Assigned To</label>
            <input type="text" class="form-control" id="updateAssignedTo">
          </div>
          <div class="mb-3">
            <label for="updateId" class="form-label">Issue Id</label>
            <input type="text" class="form-control" id="updateId" disabled aria-disabled="true">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="" id="updateClose">
            <label for="" class="form-check-label">Close Issue</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="closeUpdate" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button id="updateIssueSubmit" type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>

  <!-- delete modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <form class="modal-content" id="deleteIssueForm">
        <div class="modal-header bg-danger" id="deleteModalHeader">
          <h5 class="modal-title" id="deleteModalLabel">Delete Issue</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="deleteMessage"></p>
          <input id="deleteProject" type="text" hidden class="deleteInput" name="project">
          <input id="deleteId" type="text" hidden class="deleteInput" name="id">
        </div>
        <div class="modal-footer">
          <button type="button" id="closeDelete" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button id="deleteIssueSubmit" type="submit" class="btn btn-danger">Delete Issue</button>
        </div>
      </form>
    </div>
  </div>

  <!-- login modal -->
  <div id="loginModal">
    <div class="modalContent">
      <span class="close">&times</span>
      <div class="modalHeader">
        <h3>Log In</h3>
      </div>
      <form id="loginForm">
          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
          <input id="login" type="submit" value="Login">
      </form>
      <a id="resetPassword" href="/resetpassword">Change Password</a>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="./public/client.js"></script>
  <script src="./public/modals.js"></script>
</body>
</html>