:root {
  --nav-position: fixed;
  --nav-width: 100px;
  --nav-text-align: inherit;
  --nav-margin-top: 35px;
  --nav-border-radius: 0 0 0 8px;
  --nav-border-left: 1px solid rgb(31, 201, 88);
  --title-font-size: 2rem;
  --projectListContainer-width: 200px;
  --projectsListContainer-height: 100vh;
  --projectsListContainer-position: fixed;
  --projectName-font-size: 1.2rem;
  --projectsIssuesContainer-margin-left: var(--projectListContainer-width);
  --projectsTitle-margin: 1.2rem auto;
  --projectsTitle-padding: 0;
  --projectsTitle-border-bottom: none;
  --projectsArrow-display: none;
  --projectList-visability: visible;
  --projectsList-height: auto;
  --projectsList-border-bottom: none;
  --sortContainer-width: 1000px;
  --filter-flex-basis: calc(25% - 16px);
  --issue-width: 200px;
  --issuesTitle-padding: 1.25rem 0;
  --button-color: rgb(50, 110, 255);
  --button-color-hover: rgb(16, 98, 206);
  --modal-padding-top: 100px;
  --modalContent-width: 80%;
  --modalHeader-font-size: 1.6rem;
  --input-text-password-font-size: 1rem;
  --input-submit-font-size: 1.2rem;
}
@media only screen and (max-width: 1220px) {
  :root {
    --sortContainer-width: 500px;
    --filter-flex-basis: calc(50% - 16px);
  }
}
@media only screen and (max-width: 840px) {
  :root {
    --projectListContainer-width: 180px;
    --projectName-font-size: 1rem;
    --issue-width: 180px;
    --sortContainer-width: 250px;
    --filter-flex-basis: calc(100% - 16px);
    --modal-padding-top: 10px;
  }
}
@media only screen and (max-width: 440px) {
  :root {
    --nav-width: 100%;
    --nav-position: relative;
    --nav-text-align: center;
    --nav-border-radius: 0;
    --nav-border-left: none;
    --title-font-size: 1.5rem;
    --projectListContainer-width: 100%;
    --projectsListContainer-height: auto;
    --projectsListContainer-position: relative;
    --projectList-visability: hidden;
    --projectsList-height: 0;
    --projectsList-border-bottom: 1px solid rgb(31,201,88);
    --projectsIssuesContainer-margin-top: 0;
    --projectsIssuesContainer-margin-left: 0;
    --projectsTitle-margin: 0 auto;
    --projectsTitle-padding: .2rem 0;
    --projectsTitle-border-bottom: 1px solid rgb(31, 201, 88);
    --projectsArrow-display: inline;
    --projectList-visability: hidden;
    --projectsList-height: 0;
    --issuesTitle-padding: .2rem 0;
    --modalContent-width: 90%;
    --modalHeader-font-size: 1.1rem;
    --input-text-password-font-size: .8rem;
    --input-submit-font-size: .9rem;
  }
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.pawLeft {
  transform: translate(0, -3px) rotate(90deg);
}
.pawRight {
  transform: translate(0, 3px) rotate(90deg);
}
#projectsTitle, #issuesTitle {
  text-align: center;
  font-size: var(--title-font-size);
}
#projectsListContainer {
  background-color: rgb(40, 40, 40);
  color: rgb(190, 190, 190);
  width: var(--projectListContainer-width);
  height: var(--projectsListContainer-height);
  position: var(--projectsListContainer-position);
  top: 40px;
  left: 0;
  overflow-x: hidden;
}
#projectsTitle {
  color: rgb(31, 201, 88);
  margin: var(--projectsTitle-margin);
  padding: var(--projectsTitle-padding);
  border-bottom: var(--projectsTitle-border-bottom);
  position: relative;
}
.projectsArrow {
  display: none;
  color: rgb(190, 190, 190);
  font-size: 1.5rem;
  position: absolute;
  right: 15px;
  top: 5px;
}
#projectsList {
  padding: 0;
  text-align: center;
  margin: 0;
  visibility: var(--projectList-visability);
  height: var(--projectsList-height);
  border-bottom: var(--projectsList-border-bottom);
  transition: .4s;
}
.projectName {
  font-weight: 300;
  list-style-type: none;
  padding: .3rem 0;
  margin: .25rem 1rem;
  transition: .2s;
  width: auto;
  font-size: var(--projectName-font-size);
}
.projectName:hover {
  cursor: pointer;
  color: rgb(31, 201, 88);
}
.projectActive {
  color: rgb(31, 201, 88);
}
#projectsIssuesContainer {
  background-color: rgb(227, 227, 227);
  min-height: 100vh;
  margin-left: var(--projectsIssuesContainer-margin-left);
  padding-bottom: 2rem;
  margin-top: 40px;
}
#sortContainer {
  margin: 0 auto 1.5rem;
  width: var(--sortContainer-width);
  border-radius: 5px;
  background-color: rgb(40,40,40);
  box-shadow: 3px 3px 5px gray;
}
#filterForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.filter {
  flex-basis: var(--filter-flex-basis);
  padding: 6px 8px 10px 8px;
  color: rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 0;
  font-size: smaller;
  text-align: left;
}
.selectContainer {
  position: relative;
  background-color: rgb(227, 227, 227);
  color: black;
}
select {
  cursor: pointer;
  line-height: 1;
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  width: 100%;
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  margin: 0;
  padding: 3px;
  border-radius: 0;
  z-index: 1;
  background-color: transparent;
  outline: none;
}
.selectArrow {
  position: absolute;
  top: 5px;
  right: 9px;
}
#newIssue {
  width: 100%;
  border: none;
  margin: 0;
  padding: 8px;
  font-weight: 400;
  font-size: .9rem;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  color: white;
  background-color: var(--button-color);
  transition: .3s;
}
#newIssue:hover {
  background-color: var(--button-color-hover);
}
#issuesTitle {
  color: rgb(31, 201, 88);
  margin: 0 auto 1.2rem;
  padding: var(--issuesTitle-padding);
  background-color: rgb(40, 40, 40);
}
.updateDelete {
  cursor: pointer;
  display: flex;
  min-width: 180px;
  margin: 0 auto 1rem;
  padding: .3rem .5rem;
  justify-content: center;
  color: white;
  font-size: .9rem;
  border: 2px solid var(--button-color);
  border-radius: calc(31.1px / 2);
  background-color: var(--button-color);
  transition: .3s;
}
.updateDelete:hover {
  background-color: var(--button-color-hover);
  border: 2px solid var(--button-color-hover);
}
#issues {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  justify-content: space-evenly;
}
.issue {
  background-color: rgb(31, 201, 88);
  padding: 1.5rem;
  width: var(--issue-width);
  margin: .25rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
}
.issue h3 {
  text-align: center;
}
.issue h5 {
  margin-bottom: .2rem;
}
.issue p {
  margin-top: 0;
}
.closed {
  background-color: rgb(167, 167, 167);
}

/* modal styling */
#newIssueModal, #modifyModal, #loginModal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: var(--modal-padding-top);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* scroll if needed */
  background-color: rgb(0, 0, 0, .4);
  color: rgb(190, 190, 190);
}
.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(40, 40, 40);
  text-align: center;
  margin: auto;
  padding: 0;
  width: var(--modalContent-width);
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: .4s;
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
#newIssueForm, #modifyIssueForm, #loginForm {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
}
.close {
  position: absolute;
  top: 0;
  right: .5rem;
  color: rgb(190, 190, 190);
  font-size: 28px;
  font-weight: bold;
}
.close:hover {
  cursor: pointer;
}
.modalHeader h3 {
  font-size: var(--modalHeader-font-size);
  margin: 2rem 0 1rem 0;
}
input[type=text], input[type=password] {
  width: 250px;
  height: 2rem;
  font-size: var(--input-text-password-font-size);
  color: whitesmoke;
  background-color: rgb(40, 40, 40);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(31, 201, 88);
  margin-top: .7rem;
  padding-left: .4rem;
  outline: none;
}
input[type=text]:focus, input[type=password]:focus {
  border-bottom: 1px solid rgb(0, 193, 252);
}
input[type=submit] {
  width: 250px;
  height: 30px;
  margin: .75rem 0 1.1rem;
  font-size: var(--input-submit-font-size);
  background-color: rgb(31, 201, 88);
  border: 2px solid rgb(31, 201, 88);
  border-radius: 15px;
  transition: .3s;
  /* below so background color correct on mobile */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=submit]:hover, input[type=submit]:focus {
  cursor: pointer;
  background-color: rgb(0, 193, 252);
  border: 2px solid rgb(0, 193, 252);
}
#createNewIssue {
  margin-bottom: 2rem;
}
#deleteIssue {
  color: rgb(220, 53, 69);
  background-color: transparent;
  border: 2px solid rgb(220, 53, 69);
  margin: 0 0 2rem 0;
}
#deleteIssue:hover {
  color: rgb(190, 190, 190);
  background-color: rgb(220, 53, 69);
}
#resetPassword {
  cursor: pointer;
  color: rgb(31, 201, 88);
  text-decoration: none;
  margin: 0 auto 2rem;
  width: auto;
}

/* change password */
#changePasswordContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  justify-content: center;
}
#passwordHeader {
  text-align: center;
  color: rgb(190, 190, 190);
}
#passwordChangeForm {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
}
#noMatch {
  color: red;
  width: 250px;
}
footer {
  background-color: rgb(40, 40, 40);
  color: rgb(190, 190, 190);
  text-align: center;
  padding: 2rem 0;
  margin-left: var(--projectsIssuesContainer-margin-left);
}
footer a {
  color: rgb(190, 190, 190);
  text-decoration: none;
}
footer a:hover {
  color: rgb(31, 201, 88);
}
footer p {
  margin-bottom: 0;
}